# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# PyCharm project files
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store

# Test and coverage
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# environment variables
.env